html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/adrian-infernus-GLf7bAwCdYg-unsplash\ \(1\).jpg");
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}